@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    margin: 0;
}

header {
    height: 150px;
    background-color: #CCD3CA;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center; 
    padding: 0 20px; 
    text-align: right; 
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.logo img {
    width: 108px;
    height: 116px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 400px;
    width: 1126px;
    height: 584px;
    background-color: #CCD3CA;
    margin-left: 157px;
    margin-top: 200px;
    border-radius: 15px;
    box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.25);
    text-align: center;
    align-items: center;
    
}

.banner h1 {
    font-family: "Righteous";
    font-size: 32px;
    text-align: center;
    margin-right: 71px;
    margin-top: 63px;
    margin-bottom: 93px;
}

.carousel-item {
    width: 362px !important;
    height: 362px !important;
    margin-left: 134px;

}

.template {
    display: grid;
    grid-template: 
    "item1 item2 item3 item4"
    "item5 item6 item7 item8"
    ;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.vector1 {
    margin-top: 200px;
}

.vector2 {
    margin-top: 90px;
}

footer {
    background-color: #CCD3CA;
    height: 290px;
    margin-top: 500px;
    text-align: center;
}

footer p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
}