header {
    background-color: #F35B25;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header p {
    margin-left: 330px;
    
}

.bi-person {
    margin-left: 40px;
}

.bi-cart {
    margin-left: 20px;
}

.logo img{
    margin-left: 10px;
    height: 80px;
    width: 70px;
}