@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

body {
    height: 3065px;
    margin: 0;
}

header {
    height: 150px;
    background-color: #CCD3CA;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    text-align: right; 
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.user {
    margin-left: auto;
    margin-right: 20px;
}

.logo img {
    width: 108px;
    height: 116px;
    margin-left: 10px;
}

.banner {
    width: 1126px;
    height: 584px;
    background-color: #CCD3CA;
    margin-left: 157px;
    margin-right: 157px;
    margin-top: 200px;
    border-radius: 15px;
    box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.25);
    
}

.banner h1 {
    font-family: "Righteous";
    font-size: 32px;
    text-align: center;
    margin-left: 563px;
    margin-right: 71px;
    margin-top: 63px;
    margin-bottom: 93px;
}

.carousel-item {
    width: 362px !important;
    height: 362px !important;
    margin-left: 134px;
    margin-right: 630px;
    margin-top: 111px;
}

footer {
    background-color: #CCD3CA;
    height: 290px;
    margin-top: 2789px;
    text-align: center;
}

footer p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 150px;
}