body {
    width: 1440px;
    height: 3000px;
}

#carouselExampleFade {

    margin-top: 200px;
    margin-left: 200px;
    width: 1688px !important;
    height: 730px !important;
}

.carousel-item img {
    border-radius: 30px !important;
}

.carousel-control-prev-icon {
    background-image: url(img/prev.png) !important;
}

.carousel-control-next-icon {
    background-image: url(img/next.png) !important;
}

.carousel-control-prev {
    display: flex !important;
    align-items: flex-end !important;
    margin-left: 680px;
    margin-bottom: 40px;
}

.carousel-control-next {
    display: flex !important;
    align-items: flex-end !important;
    margin-right: 680px;
    margin-bottom: 40px;
}